/* initiantes vendor */

@import url(../vendor/normalize.css);
@import url(../vendor/init.css);

/* initiantes page */

@import url(../blocks/page/page.css);

/* initiantes header */

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* initiantes content */

@import url(../blocks/content/content.css);

/* initiantes profile */

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__information/profile__information.css);
@import url(../blocks/profile/__wrap/profile__wrap.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(../blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css);

/* initiantes cards */

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__container/cards__container.css);

/* initiantes card */

@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__information/card__information.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_on/card__like-button_on.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);
@import url(../blocks/card/__like-counter/card__like-counter.css);
@import url(../blocks/card/__like-container/card__like-container.css);
@import url(../blocks/card/__title/card__title.css);

/* initiantes footer */

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* initiantes popup forms*/

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__background/popup__background.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__error/_visible/popup__error_visible.css);

/* initiantes popup preview image*/

@import url(../blocks/popup/__container/_role-image/popup__container_role-image.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__image/popup__image.css);
